<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/banners-style.css">
  <link rel="stylesheet" href="../../chosen/chosen.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../../js/banners-script.js"></script>
  <script src="../../chosen/chosen.jquery.js"></script>

  <title>Edit banner</title>
</head>
<body>
<div th:insert="fragments/header :: header" class="container"/>
<div class="container">
  <main>
    <div th:replace="fragments/banners-left-panel :: left-panel"/>
    <div class="right-panel">
      <h2>Update banner</h2>
      <form th:action="@{/banners/{id}(id=${banner.id})}" th:object="${banner}" method="POST" id="edit-form">
        <input type="hidden" name="_method" value="patch">

        <div class="name-of-string">Name</div><input class="value-of-string special-font-size" type="text" name="name" th:field="${banner.name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors">Name error</div>

        <div class="name-of-string">Price</div><input class="value-of-string special-font-size" type="number" step="0.01" name="price" th:field="${banner.price}">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="errors">Price error</div>

        <div class="name-of-string">Categories</div>
        <select multiple="multiple" name="categoryRequestIds" class="chosen-select" >
            <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.requestId}"
                    th:attr="selected=${#lists.contains(banner.categories, category)} ? 'selected' : null" th:unless="${category.deleted}" class="special-font-size"/>
        </select>

        <div class="name-of-string">Text field</div><textarea class="value-of-string special-font-size" name="textField" th:text="${banner.textField}"></textarea>
        <div th:if="${#fields.hasErrors('textField')}" th:errors="*{textField}" class="errors">Text field error</div>

      </form>
      <button type="submit" id="save-button" form="edit-form" class="special-font-size">Save</button>
      <button id="back-button"><a th:href="'/banners/' + ${banner.id}" class="special-font-size">Back</a></button>
    </div>
  </main>
</div>
<div th:insert="fragments/footer :: footer" class="container"/>
</body>
</html>