<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/categories-style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/categories-script.js"></script>

    <title th:text="${category.name}"/>
</head>
<body>
<div th:insert="fragments/header :: header" class="container"/>
<div class="container">
    <main>
        <div th:replace="fragments/categories-left-panel :: left-panel" class="left-panel"/>
        <div class="right-panel">
            <div th:insert="fragments/category :: category"/>
            <div th:text="${isNotDeleted}" class="errors"/>
            <form th:method="POST" th:action="@{/categories/{id}(id=${category.id})}">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" id="delete-button" value="Delete" class="special-font-size">
            </form>
            <button id="edit-button"><a th:href="'/categories/' + ${category.id} + '/edit'" th:text="Edit" class="special-font-size"/></button>
            <button id="back-button"><a href="/categories" class="special-font-size">Back</a></button>
        </div>
    </main>
</div>
<div th:insert="fragments/footer :: footer" class="container"/>
</body>
</html>