<div th:fragment="banner" th:if="${banner != null}">
  <h2 th:text="'Banner ID: ' + ${banner.id}"/>

  <div class="name-of-string">Name</div>
  <div class="value-of-string" th:text="${banner.name}"/>

  <div class="name-of-string">Price</div>
  <div class="value-of-string" th:text="${banner.price}"/>

  <div class="name-of-string">Categories</div>
  <div class="value-of-string">
    <div th:each="category : ${banner.categories}" th:text="${category.name}"/>
    <div th:if="${#lists.isEmpty(banner.categories)}" style="background-color: #fff">No categories</div>
  </div>

  <div class="name-of-string">Text field</div>
  <div class="value-of-string" th:text="${banner.textField}"/>

</div>